@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Productos</h2>

<p>
    <a href="/Producto/Create" class="btn btn-info" data-modal="">Nuevo</a>
</p>

<!-- modal placeholder-->
<div id='myModal' class='modal fade' aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent' />
        </div>
    </div>
</div>

<div id="ajaxDetails">
    @Html.Action("_List")
</div>