@model Site.Datos.adm_usuario

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Eliminar Registro</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        @Html.HiddenFor(model => model.usr_id)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    Esta Seguro que desea Eliminar el Registro?

                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Eliminar</button>
    </div>

}
